@function rem($px, $base-font-size: 16px) {
  @return #{$px / $base-font-size}rem;
}
@mixin heading1 {
  font-size: rem(24px);
  font-weight: bold;
  color: $dark-gray;
  line-height: 1.18;
}

@mixin heading2 {
  font-size: rem(18px);
  font-weight: 300;
  color: $dark-gray;
  line-height: 1.3;
  word-break: break-word;
  margin: 0;
}

@mixin heading3 {
  font-size: rem(28px);
  font-weight: bold;
  color: $dark-gray;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
