$primary-color: #ffe600;
$dark-gray: #333333;
$medium-dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;

$font-family-base: "Helvetica, Arial, Roboto, sans-serif";
$font-color: $dark-gray;
$base-font-size: 16px;
