@import "../../styles/base/variables";
@import "../../styles/base/mixins";

.button {
  background-color: $blue;
  color: white;
  font-weight: 600;
  padding: 0 rem(24px);
  border: none;
  height: rem(48px);
  width: 100%;
  @include border-radius(6px);
  cursor: pointer;

  &.primary {
    background-color: $blue;
    color: white;
  }

  &.secondary {
    background-color: rgba(65, 137, 230, 0.15);
    color: $blue;
  }
}
